/* Высота */

@media screen and (max-width: 1920px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 41vw;
  }
}

@media screen and (max-width: 1700px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 45vw;
  }
}

@media screen and (max-width: 1320px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 49vw;
  }
}

@media screen and (max-width: 1300px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 56vw;
  }
}

@media screen and (max-width: 1000px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 51.5vw;
  }
}

@media screen and (max-width: 900px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 55vw;
  }
}

@media screen and (max-width: 800px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 58vw;
  }
}

@media screen and (max-width: 650px) {
  #key,
  #battle,
  .vars,
  #endcolumn,
  #questions,
  #allEndings {
    height: 90vw;
  }

  h2 {
    font-size: 3vw;
  }
  h3 {
    font-size: 2vw;
  }

  .waste {
    width: 10vw;
    height: 10vw;
  }
}

/* Ширина */

@media screen and (max-width: 1800px) {
  #column {
    margin: 0 0 0 8.4vw;
    width: 63vw;
  }
}

@media screen and (max-width: 1720px) {
  #column {
    margin: 0 0 0 9.6vw;
    width: 61vw;
  }
}

@media screen and (max-width: 1700px) {
  .display {
    background-image: url(../images/displays/1440.webp);
  }
  #column {
    margin: 0 0 0 9.5vw;
    width: 58.95vw;
  }
}

@media screen and (max-width: 1430px) {
  #column {
    margin: 0 0 0 9vw;
    width: 60vw;
  }
}

@media screen and (max-width: 1400px) {
  #column {
    margin: 0 0 0 7.5vw;
    width: 61.5vw;
  }
}

@media screen and (max-width: 1350px) {
  #column {
    margin: 0 0 0 6vw;
    width: 64vw;
  }
}

@media screen and (max-width: 1300px) {
  .display {
    background-image: url(../images/displays/1024.webp);
  }
  /* section {
    height: 63.76vh;
  } */

  #column {
    margin: 0 0 0 9vw;
    width: 60vw;
  }
}

@media screen and (max-width: 1000px) {
  .display {
    background-image: url(../images/displays/900.webp);
  }
  #column {
    margin: 0 0 0 15vw;
    width: 66.5vw;
  }
}

@media screen and (max-width: 830px) {
  #column {
    margin: 0 0 0 12vw;
    width: 74vw;
  }
}

@media screen and (max-width: 700px) {
  #column {
    margin: 0 0 0 8vw;
    width: 82vw;
  }
}

@media screen and (max-width: 650px) {
  .display {
    background-image: url(../images/displays/400.webp);
  }
  #column {
    margin: 0 0 0 10vw;
    width: 80vw;
  }
}

/* Кнопки */

@media screen and (max-width: 1875px) {
  .p1 {
    top: 13.6vw;
  }
  .p2 {
    top: 18.6vw;
  }
  .p3 {
    top: 18.6vw;
  }
  .p4 {
    top: 24.9vw;
  }
  .p5 {
    top: 17.5vw;
  }
  #a1 {
    top: 33.5vw;
  }
  #a2 {
    top: 33.5vw;
  }
}

@media screen and (max-width: 1850px) {
  .p1 {
    top: 14.1vw;
  }
  .p2 {
    top: 19.1vw;
  }
  .p3 {
    top: 19.1vw;
  }
  .p4 {
    top: 25.4vw;
  }
  .p5 {
    top: 17.4vw;
  }
  #a1 {
    top: 33.9vw;
  }
  #a2 {
    top: 33.9vw;
  }
}

@media screen and (max-width: 1800px) {
  .p1 {
    top: 14.95vw;
    left: 80.5vw;
  }
  .p2 {
    top: 19.95vw;
    left: 75.75vw;
  }
  .p3 {
    top: 19.95vw;
    left: 86.25vw;
  }
  .p4 {
    top: 26.25vw;
    left: 80.75vw;
  }
  .p5 {
    top: 18.25vw;
    left: 79vw;
  }
  #a1 {
    top: 34.75vw;
    left: 75.25vw;
  }
  #a2 {
    top: 34.75vw;
    left: 84vw;
  }
}

@media screen and (max-width: 1700px) {
  .p1 {
    top: 14vw;
    left: 77.5vw;
    width: 9.5vw;
    height: 9.5vw;
  }
  .p2 {
    top: 20vw;
    left: 71.5vw;
    width: 9.5vw;
    height: 9.5vw;
  }
  .p3 {
    top: 20vw;
    left: 84.5vw;
    width: 9.5vw;
    height: 9.5vw;
  }
  .p4 {
    top: 27.5vw;
    left: 77.75vw;
    width: 9.5vw;
    height: 9.5vw;
  }
  .p5 {
    top: 17.6vw;
    left: 75.5vw;
    width: 14vw;
    height: 14vw;
  }
  #a1 {
    top: 37.75vw;
    left: 71.5vw;
    width: 11vw;
    height: 11vw;
  }
  #a2 {
    top: 37.75vw;
    left: 82vw;
    width: 11vw;
    height: 11vw;
  }
}

@media screen and (max-width: 1600px) {
  .p1 {
    top: 17vw;
  }
  .p2 {
    top: 23vw;
  }
  .p3 {
    top: 23vw;
  }
  .p4 {
    top: 30.5vw;
  }
  .p5 {
    top: 20.6vw;
  }
  #a1 {
    top: 39.75vw;
  }
  #a2 {
    top: 39.75vw;
  }
}

@media screen and (max-width: 1500px) {
  .p1 {
    top: 18vw;
  }
  .p2 {
    top: 24vw;
  }
  .p3 {
    top: 24vw;
  }
  .p4 {
    top: 31.5vw;
  }
  .p5 {
    top: 21.6vw;
  }
  #a1 {
    top: 41.75vw;
  }
  #a2 {
    top: 41.75vw;
  }
}

@media screen and (max-width: 1440px) {
  .p1 {
    top: 20.75vw;
  }
  .p2 {
    top: 26.75vw;
  }
  .p3 {
    top: 26.7vw;
  }
  .p4 {
    top: 34.1vw;
  }
  .p5 {
    top: 24.35vw;
  }
  #a1 {
    top: 44.25vw;
  }
  #a2 {
    top: 44.25vw;
  }
}

@media screen and (max-width: 1400px) {
  .p1 {
    top: 21vw;
    left: 78.5vw;
  }
  .p2 {
    top: 27.5vw;
    left: 72.5vw;
  }
  .p3 {
    top: 27.4vw;
    left: 86vw;
  }
  .p4 {
    top: 34.75vw;
    left: 78.75vw;
  }
  .p5 {
    top: 24.75vw;
    left: 76.5vw;
  }
  #a1 {
    top: 45.25vw;
    left: 72.5vw;
  }
  #a2 {
    top: 45.5vw;
    left: 83vw;
  }
}

@media screen and (max-width: 1300px) {
  .p1 {
    top: 23vw;
    left: 79vw;
  }
  .p2 {
    top: 29.5vw;
    left: 73vw;
  }
  .p3 {
    top: 29.4vw;
    left: 86vw;
  }
  .p4 {
    top: 36.75vw;
    left: 79vw;
  }
  .p5 {
    top: 26.75vw;
    left: 77vw;
  }
  #a1 {
    top: 47.25vw;
    left: 72.75vw;
  }
  #a2 {
    top: 47.5vw;
    left: 83.5vw;
  }
}

@media screen and (max-width: 1200px) {
  .p1 {
    top: 26vw;
  }
  .p2 {
    top: 32.5vw;
  }
  .p3 {
    top: 32.4vw;
  }
  .p4 {
    top: 39.75vw;
  }
  .p5 {
    top: 29.75vw;
  }
  #a1 {
    top: 50.5vw;
  }
  #a2 {
    top: 50.5vw;
  }
}

@media screen and (max-width: 1100px) {
  .p1 {
    top: 30vw;
  }
  .p2 {
    top: 36.5vw;
  }
  .p3 {
    top: 36.2vw;
  }
  .p4 {
    top: 44.3vw;
  }
  .p5 {
    top: 33.9vw;
  }
  #a1 {
    top: 54.75vw;
  }
  #a2 {
    top: 54.75vw;
  }
}

@media screen and (max-width: 1000px) {
  .p1 {
    background-image: url(../images/buttons/hor/1-1.webp);
    width: 18vw;
    height: 18vw;
    top: 72vw;
    left: 15vw;
  }
  .p2 {
    background-image: url(../images/buttons/hor/2-1.webp);
    width: 18vw;
    height: 18vw;
    top: 86vw;
    left: 27vw;
  }
  .p3 {
    background-image: url(../images/buttons/hor/3-1.webp);
    width: 18vw;
    height: 18vw;
    top: 61vw;
    left: 27vw;
  }
  .p4 {
    background-image: url(../images/buttons/hor/4-1.webp);
    width: 18vw;
    height: 18vw;
    top: 72vw;
    left: 40vw;
  }
  .p5 {
    background-image: url(../images/buttons/hor/5-1.webp);
    width: 14vw;
    height: 14vw;
    top: 74vw;
    left: 28.5vw;
  }
  #a1 {
    background-image: url(../images/buttons/hor/Up.webp);
    width: 22vw;
    height: 22vw;
    top: 61vw;
    left: 60vw;
  }
  #a2 {
    background-image: url(../images/buttons/hor/Down.webp);
    width: 22vw;
    height: 22vw;
    top: 81vw;
    left: 60vw;
  }
}

@media screen and (max-width: 900px) {
  .p1 {
    top: 77vw;
  }
  .p2 {
    top: 91vw;
  }
  .p3 {
    top: 66vw;
  }
  .p4 {
    top: 77vw;
  }
  .p5 {
    top: 79vw;
  }
  #a1 {
    top: 66vw;
  }
  #a2 {
    top: 86vw;
  }
}

@media screen and (max-width: 800px) {
  .p1 {
    top: 86vw;
    left: 14vw;
  }
  .p2 {
    top: 101vw;
    left: 26vw;
  }
  .p3 {
    top: 75vw;
    left: 26vw;
  }
  .p4 {
    top: 87vw;
    left: 40vw;
  }
  .p5 {
    top: 78vw;
    left: 39.5vw;
  }
  #a1 {
    top: 75vw;
    left: 61vw;
  }
  #a2 {
    top: 96vw;
    left: 61.5vw;
  }
}

@media screen and (max-width: 800px) {
  .p1 {
    top: 98vw;
    left: 7vw;
    height: 22vw;
    width: 22vw;
    background-position: center;
  }
  .p2 {
    top: 113vw;
    left: 22vw;
    height: 22vw;
    width: 22vw;
    background-position: center;
  }
  .p3 {
    top: 84vw;
    left: 22vw;
    height: 22vw;
    width: 22vw;
    background-position: center;
  }
  .p4 {
    top: 98vw;
    left: 38vw;
    height: 22vw;
    width: 22vw;
    background-position: center;
  }
  .p5 {
    top: 100vw;
    left: 23vw;
    width: 18vw;
    height: 18vw;
    background-position: center;
  }
  #a1 {
    top: 85vw;
    left: 62vw;
    width: 26vw;
    height: 26vw;
  }
  #a2 {
    top: 109vw;
    left: 63vw;
    width: 26vw;
    height: 26vw;
  }
}

@media screen and (max-width: 750px) {
  .p1 {
    top: 90vw;
  }
  .p2 {
    top: 105vw;
  }
  .p3 {
    top: 77vw;
  }
  .p4 {
    top: 91vw;
  }
  .p5 {
    top: 93vw;
  }
  #a1 {
    top: 79vw;
  }
  #a2 {
    top: 100vw;
  }
}

@media screen and (max-width: 700px) {
  .p1 {
    top: 98vw;
  }
  .p2 {
    top: 113vw;
  }
  .p3 {
    top: 85vw;
  }
  .p4 {
    top: 99vw;
  }
  .p5 {
    top: 101vw;
  }
  #a1 {
    top: 86vw;
  }
  #a2 {
    top: 107vw;
  }
}

@media screen and (max-width: 750px) {
  .p1 {
    top: 129.5vw;
    left: 18vw;
    width: 15vw;
    height: 15vw;
  }
  .p2 {
    top: 141vw;
    left: 30vw;
    width: 15vw;
    height: 15vw;
  }
  .p3 {
    top: 118vw;
    left: 30vw;
    width: 15vw;
    height: 15vw;
  }
  .p4 {
    top: 129.5vw;
    left: 42vw;
    width: 15vw;
    height: 15vw;
  }
  .p5 {
    top: 130vw;
    left: 30vw;
    width: 14vw;
    height: 14vw;
  }
  #a1 {
    top: 117vw;
    left: 60vw;
    width: 22vw;
    height: 22vw;
  }
  #a2 {
    top: 136vw;
    left: 60vw;
    width: 22vw;
    height: 22vw;
  }
}

@media screen and (max-width: 600px) {
  .p1 {
    top: 136.5vw;
    left: 18vw;
    width: 14vw;
    height: 14vw;
  }
  .p2 {
    top: 148vw;
    left: 30vw;
    width: 14vw;
    height: 14vw;
  }
  .p3 {
    top: 125vw;
    left: 27vw;
    width: 14vw;
    height: 14vw;
  }
  .p4 {
    top: 136.5vw;
    left: 42vw;
    width: 14vw;
    height: 14vw;
  }
  .p5 {
    top: 136vw;
    left: 30vw;
    width: 14vw;
    height: 14vw;
  }
  #a1 {
    top: 124vw;
    left: 60vw;
    width: 22vw;
    height: 22vw;
  }
  #a2 {
    top: 143vw;
    left: 60vw;
    width: 22vw;
    height: 22vw;
  }
}

@media screen and (max-width: 500px) {
  .p1 {
    top: 159.5vw;
    left: 15vw;
    width: 17vw;
    height: 17vw;
  }
  .p2 {
    top: 174vw;
    left: 27vw;
    width: 17vw;
    height: 17vw;
  }
  .p3 {
    top: 148vw;
    left: 27vw;
    width: 17vw;
    height: 17vw;
  }
  .p4 {
    top: 160.5vw;
    left: 42vw;
    width: 17vw;
    height: 17vw;
  }
  .p5 {
    top: 160vw;
    left: 27vw;
    width: 17vw;
    height: 17vw;
  }
  #a1 {
    top: 147vw;
    left: 62vw;
    width: 23vw;
    height: 23vw;
  }
  #a2 {
    top: 168vw;
    left: 62vw;
    width: 23vw;
    height: 23vw;
  }
}

@media screen and (max-width: 400px) {
  .p1 {
    top: 197vw;
    left: 4vw;
    width: 24vw;
    height: 24vw;
  }
  .p2 {
    top: 215vw;
    left: 20vw;
    width: 24vw;
    height: 24vw;
  }
  .p3 {
    top: 180vw;
    left: 20vw;
    width: 24vw;
    height: 24vw;
  }
  .p4 {
    top: 197vw;
    left: 38vw;
    width: 24vw;
    height: 24vw;
  }
  .p5 {
    top: 199vw;
    left: 22vw;
    width: 20vw;
    height: 20vw;
  }
  #a1 {
    top: 182vw;
    left: 65vw;
    width: 29vw;
    height: 29vw;
  }
  #a2 {
    top: 208vw;
    left: 65vw;
    width: 29vw;
    height: 29vw;
  }
}
